.card-purchase{
    padding: 20px;
    background-color: whitesmoke;
}
.item-container{
    
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    
}
.spac{
    margin-top: 100px !important;
}



.element{

   width: 30%;


}
.elemento-container{
    display: flex;
    flex-direction: row;
   
}
.c{
    text-align: center;
}
.product{
    text-decoration: underline;
    color: dimgray;
}
.product:hover{
    text-decoration: underline;
    color: rgb(1, 94, 148);
    cursor: pointer;
}